*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid_container{
    display: grid;
    grid-template-areas: 
    'header'
    'selector'
    'productos'
    'paginacion'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 60px calc(100vh - 110px - 110px) 40px 70px;

}

/*Navbar*/
.header{
    grid-area: header;
}
.nav_menu{
    display: flex;
    background-color: #0A4D68;
    color: white;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nombre{
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 20px;
    font-style: italic;
    font-size: x-large;
    width: 85%;
}
.icono{
    padding-right: 3px;
}

.linea{
    height: 2px;
    width: 100%;
    background-color: #f3e3e3;
}

.menu_hamb{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    border: 0.5px solid rgb(120, 117, 117);
}

.menu {
    display: none; 
}

/*Selector*/

.selector{
    grid-area: selector;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #088395;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5px;
}

/*Productos*/

.productos{
    grid-area: productos;
    text-align: center;
}

.grid_productos{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    column-gap: 5px;
}
.box_cards{
    display: flex;
    justify-content: center;
}
.card img {
    width: 300px;
    height: auto;
    overflow: hidden;
}
.card{
    width: 85%;
    border: 1px solid rgb(173, 165, 165);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.boton{
    background-color: #05BFDB;
    padding: 10px;
    color: rgb(252, 250, 250);
    font-size: large;
    margin: 5px 5px;
    border-radius: 10px;
}


/*Paginación*/
.paginacion{
    grid-area: paginacion;
}
.box_paginacion{
    display: flex;
    justify-content: center;
}
.pag_cajita{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 0.5px solid rgb(157, 156, 156);
    font-size: medium;
}
.box_paginacion a{
    text-decoration: none;
}
.box_paginacion a:hover{
    color: #106c47; 
    text-decoration: underline; 
}
    

/*Footer*/
.footer{
    grid-area: footer;
    border: 1px solid rgb(19, 0, 128);
}
.pie_pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00FFCA;
}
.foot_icon{
    padding: 3px;
    text-align: center;
    align-items: center;
}
.foot_icon img{
    width: 25px;
    height: auto;
    padding: 2px;
}
.foot_text{
    text-align: center;
}