*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid_container{
    display: grid;
    grid-template-areas: 
    'header'
    'selector'
    'productos'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 60px calc(100vh - 110px - 70px) 70px;

}

/*Navbar-Sidebar-Header*/
.header{
    grid-area: header;
}
.titulo{
    display: flex;
    background-color: #0A4D68;
    color: white;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nombre{
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 20px;
    font-style: italic;
    font-size: x-large;
    width: 85%;
}
.icono{
    padding-right: 3px;
}
.linea{
    height: 2px;
    width: 100%;
    background-color: #f3e3e3;
}
.menu_hamb{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    border: 0.5px solid rgb(120, 117, 117);
}
.menu {
    display: none; 
}

/*Selector*/

.selector{
    grid-area: selector;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #088395;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5px;
}

/*Productos*/

.productos{
    grid-area: productos;
    padding-top: 7px;
    text-align: center;
    overflow: hidden;
}

.box_productos{
    display: flex;
    flex-direction: column;
    column-gap: 4px;
    padding-bottom: 5px;
}
.box_cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow-y: hidden;
}
.card img {
    width: 300px;
    height: 320px;
    overflow: hidden;
}
.card{
    width: 90%;
    padding: 5px;
    border: 1px solid rgb(173, 165, 165);
    box-shadow: 5px 5px 15px #05BFDB;
}
.boton{
    background-color: #05BFDB;
    padding: 10px;
    color: rgb(252, 250, 250);
    font-size: large;
    margin: 5px 5px;
    border-radius: 10px;
}

/*Paginación*/

.box_paginacion{
    display: flex;
    justify-content: center;
}
.pag_cajita{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 0.5px solid rgb(157, 156, 156);
    font-size: medium;
}
.box_paginacion a{
    text-decoration: none;
}
.box_paginacion a:hover{
    color: #106c47; 
    text-decoration: underline; 
}
    

/*Footer*/
.footer{
    grid-area: footer;
    border: 1px solid rgb(19, 0, 128);
}
.pie_pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00FFCA;
}
.foot_icon{
    padding: 3px;
    text-align: center;
    align-items: center;
}
.foot_icon img{
    width: 25px;
    height: auto;
    padding: 2px;
}
.foot_text{
    text-align: center;
}

/*Medias-Querys*/

@media(width >= 576px)  and (width <= 992px){

    .grid_container{
        display: grid;
        grid-template-areas: 
        'header selector'
        'nav productos'
        'footer productos'
        ;
        grid-template-columns: 150px auto;
        grid-template-rows: 80px calc(100vh - 80px - 80px) 80px;
    }
    .nombre{
        padding-top: 5px;
        padding-left: 20px;
    }

    .nav{
        grid-area: nav;
    }
    .menu{
        display: block;
        width: 150px;
        height: calc(100vh - 80px - 80px);
        background-color: #0A4D68;
        text-align: center;
    }
    .menu a {
        text-decoration: none;
        color: white;
    }
    .menu a:hover{
            color: pink;
            text-decoration: underline; 
    }
    .menu_hamb{
        display: none;
    }
    .selector{
        grid-area: selector;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 20px;
        height: 80px;
    }
    .size_label{
        width: 350px;
        height: 30px;
    }

    .box_productos{
        display: flex;
        justify-content: flex-start;
        height: calc(100vh - 60px);
        padding-top: 35px;
        padding-bottom: 40px;
        align-items: center;
    }
    .card img {
        width: 180px;
        height: 200px;
        overflow: hidden;
    }
    .card{
        width: 100%;
        padding: 5px;
        border: 1px solid rgb(173, 165, 165);
        box-shadow: 5px 5px 15px #05BFDB;
    }
    .box_cards{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        overflow-y: scroll;
        padding-left: 5px;
    }

    .paginacion{
        padding-top: 15px;
    }
    .footer{
        height: 70px;
    }

}

@media(width >= 992px) and (width <= 1200){

    .grid_container{
        display: grid;
        grid-template-areas: 
        'header selector'
        'nav productos'
        'footer productos'
        ;
        grid-template-columns: 200px auto;
        grid-template-rows: 80px calc(100vh - 80px - 80px) 80px;
    }
    .nombre{
        padding-top: 5px;
        padding-left: 40px;
    }

    .nav{
        grid-area: nav;
    }
    .menu{
        display: block;
        width: 200px;
        height: calc(100vh - 80px - 80px);
        background-color: #0A4D68;
        text-align: center;
    }
    .menu a {
        text-decoration: none;
        color: white;
    }
    .menu a:hover{
            color: pink;
            text-decoration: underline; 
    }
    .menu_hamb{
        display: none;
    }
    .selector{
        grid-area: selector;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 20px;
        height: 80px;
    }
    .size_label{
        width: 750px;
        height: 30px;
    }

    .box_productos{
        display: flex;
        justify-content: center;
        height: calc(100vh - 60px);
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .card img {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }
    .card{
        width: 100%;
        padding: 5px;
        border: 1px solid rgb(173, 165, 165);
        box-shadow: 5px 5px 15px #05BFDB;
    }
    .box_cards{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        overflow-y: scroll;
    }
    .paginacion{
        padding-top: 15px;
    }
    .footer{
        height: 70px;
    }

}

@media(width >= 1200px){

    .grid_container{
        display: grid;
        grid-template-areas: 
        'header selector'
        'nav productos'
        'footer productos'
        ;
        grid-template-columns: 200px auto;
        grid-template-rows: 80px calc(100vh - 80px - 80px) 80px;
    }
    .nombre{
        padding-top: 5px;
        padding-left: 40px;
    }

    .nav{
        grid-area: nav;
    }
    .menu{
        display: block;
        width: 200px;
        height: calc(100vh - 80px - 80px);
        background-color: #0A4D68;
        text-align: center;
    }
    .menu a {
        text-decoration: none;
        color: white;
    }
    .menu a:hover{
            color: pink;
            text-decoration: underline; 
    }
    .menu_hamb{
        display: none;
    }
    .selector{
        grid-area: selector;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 20px;
        height: 80px;
    }
    .size_label{
        width: 750px;
        height: 30px;
    }

    .box_productos{
        display: flex;
        justify-content: center;
        height: calc(100vh - 60px);
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .card img {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }
    .card{
        width: 100%;
        padding: 5px;
        border: 1px solid rgb(173, 165, 165);
        box-shadow: 5px 5px 15px #05BFDB;
    }
    .box_cards{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        overflow-y: scroll;
    }
    .paginacion{
        padding-top: 15px;
    }
    .footer{
        height: 70px;
    }

}